*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100dvh;
    background-image: url("./Picsart_blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
} 
.nav{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
   
}
.das{
   
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nava{
    width: 30%;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
}
.navb{
    width: 70%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.das21{
    width: 30%;
    height: 50px;

    display: flex;
        justify-content: space-between;
        align-items: center;
    }
.das2{
width: 70%;
height: 50px;

display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.co{
    width: 50%;
height: 50px;

display: flex;
    justify-content: center;
    align-items: center;
}
.leo{
    width: 40%;
    height: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.leo2{
    width: 60%;
    height: 50px;
    
    
}
.profile{
    width: 80%;
    border-radius: 50%;
    height: 80%;
}
.name{
    width: 100%;
    height: 50%;
   
}
.t{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.r{
    color: white;
}
.main{
    width: 100%;
    height: 190px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 35px 35px;
    background-color: rgb(0, 0, 0);
   
}
.c{
    box-shadow: 0px 0px 40px rgb(221, 220, 220);
}
.main1{
    width: 50%;
    height: 190px;
 
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.one{
    width: 100%;
    height: 100px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.one1{
    width: 90%;
    height: 100px;

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(151, 149, 149, 0.331);
    background-image: linear-gradient(to right, rgb(43, 180, 226),rgb(100, 89, 181),rgb(0, 0, 0));
}
.level{
    width: 80%;
    height: 100px;
  
  
}
.dosa1{
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.dosa{
    width: 100%;
    height: 30%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 30%;
    height: 100%;

    display: flex;
    align-items:center;
    justify-content: center;
    color: yellow;

}
.text1{
    width: 70%;
    height: 100%;

    color: white;
    
}
.fan{
    width: 100%;
    height: 10px;

    border-radius: 5px;
    background-color: white;
 

}
.fans{
    width: 80%;
    height: 100%;
   background-image: linear-gradient( to left, green, rgb(255, 179, 179),rgb(255, 0, 43)); 
   border-radius: 0px 30px 30px 0px;

}
.star{
    width: 20%;
    height: 70px;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

.one2{
    width: 100%;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.one22{
    width: 50%;
    height: 160px;
    
    display: flex;
    align-items: center;
    justify-content: start;
}
.online16{
    width: 50%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.online1{
    width: 50%;
    height: 100px;
    
   
}

.fu{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ki{
    color: rgb(6, 255, 6);
}
.online15{
    width: 50%;
    height: 100px;
 
    display: flex;
    align-items: center;
    justify-content: center;
}
.one221{
    width: 50%;
    height: 160px;

    display: flex;
    align-items: center;
    justify-content: end;
  
}
.inline11{
    width: 100%;
    height: 33%;
    
}
.steps{
    width: 95%;
    height: 120px;

    background-color: rgba(82, 112, 142, 0.331);
    border-radius: 30px;
}
.steps1{
width: 100%;
height: 90px;

display: flex;
align-items: center;
justify-content: center;
color: white;
font-size: 50px;
padding-top: 35px;
font-family: Arial, Helvetica, sans-serif;

}
.steps2{
width: 100%;
height: 30px;

display: flex;
align-items: center;
justify-content: center;

color: white;
font-family: Arial, Helvetica, sans-serif;
}
.online{
    width: 50%;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.share{
    width: 100%;
    height: 120px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.share1{
    width: 90%;
    height: 150px;
   
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(112, 112, 246),rgb(233, 192, 255),rgb(200, 111, 126));
}
.share2{
    width: 60%;
    height: 150px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
.share2a{
    width: 40%;
    height: 150px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share3{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}
.today{
    width: 50%;
    height: 30px;

    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.409);
}
.history{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.vaa{
    color: blueviolet;
}
.his1{
    width: 30%;
    height: 30px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.may{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
.may1{
    width: 90%;
    height: 80px;
    border: 1px solid rgb(154, 154, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    background-color: rgba(114, 119, 123, 0.413);
}
.may11{
    width: 60%;
    height: 60px;
   
    padding-left: 10px;
}
.may22{
    width: 40%;
    height: 80px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.may111{
    width: 100%;
    height: 30px;
 
    display: flex;
    align-items: center;
    justify-content: start;
   
}
.hen{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin-bottom: -90px;
    margin-left: -60px;
}
.fottor{
    width: 100%;
    height: 60px;

    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
.fotter{
    width: 80%;
    height: 60px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    background-color: rgba(77, 103, 180, 0.669);
    box-shadow: 0px 0px 20px  rgb(0, 159, 245) inset;
    margin-top: 50px;
    border: none;
}
.spa{
    color: red;
}
.hj{
    color: blueviolet;
}
.yr{
    color: white;
}